<div class="jumbotron">
  <p class="lead">
    <img src="images/igLogo.png" style="height: 10%; width: 10%;"><br>
    Made with Yeoman, AngularJS , & Creativie Tim CSS templates
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="https://api.instagram.com/oauth/authorize/?client_id=8edae6f3cbea45e5ab283e408a88781a&redirect_uri=http://localhost:9000&response_type=token">Log In</a></p>
</div>

<div class="row marketing" style="text-align: center;">
  <h4>User Profile</h4>
  <p>
    Check out your own profile
  </p>

  <h4>Search</h4>
  <p>
    Search Keywrods
  </p>
</div>
